.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid;
  border-radius: 12px;
  padding: 8px;
  table {
    thead {
      text-align: center;
    }
    thead > tr > th {
      padding: 8px;
    }
    tbody > tr > td {
      padding-bottom: 6px;
    }
  }
  .selected {
    font-weight: bold;
    text-decoration: underline;
  }
  .not-selected {
    font-weight: 200;
    text-decoration: unset;
  }
  .table-selectors {
    text-align: center;
    span {
      cursor: pointer;
    }
  }
}
